/* Setting up initial styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html, body{
    height:100%;
}

header {
    width: 100%;
    height: 80px;
    padding: 20px calc(50% - 500px);
    background-color: #fff;
}

nav {
    width:100%;
}

#logo {
    display: inline-block;
    width: 207px;
    height: 40px;
    background: url(../images/spritesheet.png) -12px -21px no-repeat;
}

.google-translate {
    display: inline-block;
}

ul {
    display: inline-block;
    height: 100%;
    margin-left: 64%;
    white-space: nowrap;
}

li {
    display: inline-block;
    margin-top: 4px;
    list-style-type: none;
}

a { 
    display: inline-block;
}

.social {
    width: 32px;
    height: 32px;
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8);
}

.facebook {
    background: url(../images/spritesheet.png) -22px -115px no-repeat;
}

.twitter {
    background: url(../images/spritesheet.png) -62px -115px no-repeat;
}

.flicker {
    background: url(../images/spritesheet.png) -103px -115px no-repeat;
}

.youtube {
    background: url(../images/spritesheet.png) -144px -115px no-repeat;
}

/* section */

section {
    padding: 40px calc(50% - 500px) 0;
    height: 832px;
    text-align: center;
    background-color: #f1f1f1;
}

section h1 {
    margin: 0 auto;
    font-family: "league-gothic";
    font-size: 4.2em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.1em;
    letter-spacing: .05em;
    color: #09476b;
}

section span {
    color: #0078a1;
}

section h1::after {
    content: "";
    display: block;
    width: 700px;
    padding-top: 10px; 
    margin: 0 auto 50px; 
    border-bottom: 3px dotted #0078a1;
}

section p {
    text-align: center;
    font-family: "HelveticNeue-Condensed",Helvetica,sans-serif;
    font-size: 1.5em;
    letter-spacing: 2px;
    color: #09476b;
}

/* 3 boxes in main section*/

.box {
    display: inline-block;
    width: 316px;
    height: 218px;
    padding: 0 20px;
    margin: 0 8px;
    border-radius: 3%;
    box-shadow: 3px 3px 3px rgba(192,192,192,0.5); 
    margin-top: 50px;
    background-color: #fff;
    vertical-align: top;
    -webkit-transition: .5s all ease;
}

section .box img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 23px auto 0;
}

.box p {
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    transition: .5s all ease;
}

.box:hover {
    background-color: #09476b;
}

.box:hover p {
    color: #fff;
}

button {
    display: inline-block;
    padding: 10px 35px; 
    border: none;
    margin-top: 24px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #0078a1;
    outline: none;
    cursor: pointer;
}

.carrot {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 15px;
    border-top: 10px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.pdf-lang {
    position: relative;
    display: block;
    width: 205px;
    height: 205px;
    margin: 0 auto;
    background-color: #fff;
    visibility: hidden;
    z-index: 100;
    transition: 1s all ease;
}

.show {
    visibility: visible;
}

.pdf-lang li {
    display: block;
    border-bottom: 1px solid black;
    color: grey;
    text-transform: uppercase;
}

/* Footer section */

.circle-container {
    display: block;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: -100px auto 50px;
    background-color: #fff;
    
}

footer h2 {
    display: block;
    padding-top: 55px;
    font-size: 25px;
    color: #09476b;
    text-align: center;
}

.img-container {
    text-align: center;
}

.img-grid {
    display: inline-block;
    margin-top: 80px;
    vertical-align: top;
    text-align: center;
}

.img-grid img {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.img-grid p {
    font-weight: bold;
    color: #09476b;
    text-align: center;
}


.img-container .img-grid:first-child {
    padding-right: 70px;
}

.footer-cont {
    display: block;
}

.footer-logo {
    display: block;
    margin: 0 auto 40px;
}

